@charset "utf-8";

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.page-header {
   display: flex;
   justify-content: space-between;
   margin-right: 10px;
}

.warper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

.main-nav {
    display: flex;
    font-size: 1.10rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    gap: 10px;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    min-width: 100%;
    max-width: 100%;
    height: auto;
}
.content {
    margin-bottom: 80px;
    width: 100vw;
    height: auto;
}

.logo-img {
    width: 300px;
    margin-top: 14px;
}
  
.background_line {
    background-image: url(img/bg.png);
    background-repeat: repeat-x;
    height: 40px;
}
.container {
    display: grid;
    grid-template-columns: 24vw 24vw 24vw 24vw;
    grid-template-rows: auto;
    gap: 0.5vw;
    margin-top: 10px;
    margin-left: 1vw;
    margin-right: 1vw;
} 

.background-black{
    background-color: black;
    height: 34px;
}

.background-white{
    background-color: white;
    height: 34px;
}

.buttom-image:hover {
    mask-image: linear-gradient(to bottom,black 0%,transparent 100%);
}

/* 色指定用 */
.color0 {
    color: #565656
}  
.color1 {
    color: #666666;
}
.color2 {
    color: #333333;
}
.p1 {
    color: rgb(86, 48, 253);
}
.p2 {
    color: rgb(51, 48, 253);
}
.p3 {
    color: rgb(0, 60, 255);
}
.p4 {
    color: rgb(48, 154, 253);
}
.p5 {
    color: rgb(16, 190, 176);
}

/* フォントサイズ指定 */
.font_size08 {
    font-size: 0.8em;
}
.font_size09 {
    font-size: 0.9em;
}
.font_size11 {
    font-size: 1.1em;
}
.font_size15 {
    font-size: 1.5em;
}

.font_bold {
    font-weight: bold;
}

.align_center {
    text-align: center;
}
.vertical_middle {
    vertical-align: middle;
}

.padding_top10 {
    padding-top: 10px;
}
.padding_top30 {
    padding-top: 30px;
}
.margin_top20 {
    margin-top: 20px;
}
.margin_right5 {
    margin-right: 5px;
}
.margin_bottom5 {
    margin-bottom: 5px;
}
.margin_bottom10 {
    margin-bottom: 10px;
}
.margin_bottom20 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    margin-right:5px;
}
input[type="button"],
input[type="submit"],
input[type="text"],
select {
    vertical-align: middle;
}

.spacer20px {
    height: 20px;
    width: 20px;
}

footer {
    background: rgb(143, 214, 255);
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}
.comp-image{
    width: 90vw;
    height: auto;
    margin-left: 5vw;
    margin-right: 5vw;
}
